* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
}
.textbar {
    text-align: center;
    margin-top: 5px;
    height: 35px;
    width: 155px;
    border-radius: 8px;
}
.banner{
  font-size: 50px;
  top: 0px;
  /*padding-bottom: 50px;*/
}
.main-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #757575;
}

.forecast-box {
    padding-top: 65px;
    background: darkgray;
    align-self: center;
    width: 700px;
    height: 45vh;
    border-radius: 50px;
    border: solid black;
}
.forecast-box:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.city-name {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.country {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
        margin-top: 15px;
    font-weight: 200;
}

.temperature {
    margin-top: 15px;
    letter-spacing: -0.3rem;
    font-size: 5rem;
}
